{% extends "layout.html" %}

{% block title %}
    Books
{% endblock %}

{% block main %}
    <h3> {{ book.title }} </h3>

    <h5>by {{ book.name }} </h5>
    <span>Published {{ book.year }} </span>
    <br>
    <span>ISBN: {{ book.isbn }} </span>
    <br>
    <span>Average Review: {{ book.review_avg }} ({{ book.work_ratings_count }} reviews from Goodreads) </span>
    <hr>

    <div>
        <h5>Reader Reviews</h5>


        {% if user_review_exists %}
            <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#collapseReview" aria-expanded="false" aria-controls="collapseReview">
                Edit Review
            </button>
        {% else %}
            <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#collapseReview" aria-expanded="false" aria-controls="collapseReview">
                Write a Review
            </button>
        {% endif %}
        <div class="collapse" id="collapseReview">
            <div class="container">
                <form class="my-2" method="post">
                    <div class="form-group">

                        <!-- <div class="Stars" style="--rating: 2.3;" aria-label="Rating of this product is 2.3 out of 5."> -->
                       
                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
                        </div>
                        
                        {% if user_review_exists %}
                            {% for review in reviews %}
                                {% if review.user_id == user_id %}
                                  <textarea class="my-2 form-control" id="reviewTextarea" name="reviewText" rows="4">{{ review.review_text }}</textarea>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <textarea class="my-2 form-control" id="reviewTextarea" name="reviewText" rows="3"></textarea>
                        {% endif %}
                        <div class="d-flex flex-row-reverse">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="user-reviews">
            {% for review in reviews %}
                <div id="user-review">
                    <img src="../static/person-icon.jpg" id="user-icon"><b> {{ review.username }} </b>
                    <br>
                    Star Rating: {{ review.rating }}
                    <br>
                    {{ review.review_text }}
                    <br>
                    {{ review.time.ctime() }}
                    <br>
                </div>
            {% endfor %}
        </div>
        <!-- optional: display total number of reader reviews for this book -->
        <!-- pull all reader reviews for this book and display each -->
    </div>

{% endblock %}
