{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block login %}
    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
{% endblock %}

{% block main %}
    <div class="log-in-header">
        Log In
    </div>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" name="current-password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
