{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}

    <div class="book-searchbox">
        <form class="form-inline mb-2" action="/" method="post">
            <!-- <div class="form-group"> -->
            <input class="form-control mr-2" autocomplete="off" name="search" placeholder="" type="text" autofocus>
            <!-- </div> -->
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
    {% if not books %}
        <p>Search books by title, author, or ISBN.</p>
    {% endif %}
    <div class="book-container">
        {% for book in books %}
        <div class=book-cover-s>
            <img src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-S.jpg"/>
        </div>
            <span>
                <b>
                    <a href="{{ url_for('book', book_id=book.book_id) }}"> 
                        {{ book.title }} 
                    </a>
                </b>
            </span>
            <br>
            <span>by {{ book.name }}</span>
            <br>
            <span class="font-weight-light">published {{ book.year }}</span>
            <hr/>

        {% endfor %}
    </div>

{% endblock %}
